.navbar{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
}

.navbarMobile {
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}