.word{
    text-transform: capitalize;
}

.cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.imgThumb{
    width: 5em;
    height: 5em;

    border-radius: 1em;
    overflow: hidden;
}

.imgThumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.vocabularyForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.vocabularyForm_input{
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    margin-top: 1em;
}

.vocabularyForm_pictures{
    margin-top: 1em;
}

.vocabularyForm_submit{
    margin-left: auto;
    margin-top: 1em;
    padding: 0.6em 1.5em;
    width: auto;
}