.card {
    width: 40%;
    height: 22em;

    margin: 0 auto;

    margin-top: 1em;
    margin-bottom: 1em;
}

.cardChanger {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    margin-top: 1em;
}

.btnPrev {
    font-size: 1em;
    width: 6em;

    margin-right: auto;
    padding: 0.7em 1em;
}

.btnNext {
    font-size: 1em;
    width: 6em;

    margin-left: auto;
    padding: 0.7em 1em;
}

.cardMobile{
    width: 90%;

    display: flex;
    flex-direction: column;
}

.cardChangerMobile{
    width: 90%;
}